@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.3%;
}
.mealTrackerMainContainer {
  background-color: #fafafb;
  padding-top: 8px;
  padding-left: 62px;
}

.aiWhatsapp p {
  color: #45437f;
  font-weight: 500;
  font-size: 19px;
  margin-bottom: 0px;
  font-family: "Inter", sans-serif;
}

.aiWhatsapp {
  display: flex;
  align-items: center;
  gap: 9px;
}

.premium {
  border-radius: 100px;
  padding: 2px;
  background: linear-gradient(to right, #feff02, #596c00);
}

.premiumTrail {
  background-color: white;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  align-items: center;
  padding-left: 80px;
  padding-right: 100px;
  height: 65px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
}

.leftSideOfHeader {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.premiumTrail p {
  font-size: 10px;
  font-weight: 500;
  padding: 20px 20px 20px 20px;
  margin-bottom: 0px;
  font-family: "Poppins", sans-serif;
}

.peterAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.peterAccount span {
  color: #000000;
  font-size: 12px;
  font-weight: 600;
}

.peterAccount p {
  font-size: 10px;
  font-weight: 300;
  margin-bottom: 0px;
}

.peterImg {
  background-color: pink;
  display: flex;
  justify-content: center;
  border-radius: 9px;
}

.andyPeter {
  display: flex;
  gap: 1rem;
}

.setting {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mealTrackerBackgroundContainer {
  height: 361px;
  width: 723px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #909090;
  border-radius: 7px;
  align-items: center;
  margin-top: 42px;
}

.mealTrackerBackgroundContainer p {
  color: #3e4043;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 0px;
  margin-right: 587px;
  margin-top: 12px;
}
.allAboutMeal h5 {
  color: #3e4043;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 17px;
}
.allAboutMeal p {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #3e4043;
  width: 50%;
}
.outerDivDays {
  width: 92px;
  border-radius: 100px;
  padding: 2px;
  background: linear-gradient(to right, #feff02, #596c00);
}

.innerDivDays {
  background-color: white;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

.alAboutDayAndMeal {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 1rem;
}
#todayDay {
  color: #3e4043;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
}
.dayAndMealInnerContainer {
  display: flex;
  align-items: center;
  gap: 20rem;
}
.onlyWeekAndDayContainer {
  display: flex;
  gap: 2rem;
}
.allTheDataOfMeal {
  margin-top: 26px;
}
.nav-item {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
  padding-left: 0px;
}
.eatingToday P {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #3e4043;
}
.foodVariety {
  padding-bottom: 2rem;
  padding-top: 46px;
  display: flex;
  gap: 2rem;
}
.steakContainer,
.vegFoodContainer,
.mealContainer {
  font-family: "Poppins", sans-serif;
  width: 117px;
  height: 90px;
  background-color: #fafafa;
  border-radius: 15px;
  box-shadow: 19px 6px 10px #aeaec066;
  /* box-shadow: 0px 4px 10px #AEAEC066; */
}
.steakContainer p,
.vegFoodContainer p,
.mealContainer p {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0px;
}
.steakContainer span,
.vegFoodContainer span,
.mealContainer span {
  font-size: 8px;
  font-weight: 400;
  color: #a5a5a5;
}
.steakContainer img {
  margin-top: -42px;
  margin-left: 11px;
}
.vegFoodContainer img {
  margin-top: -53px;
  margin-left: 3px;
}
.mealContainer img {
  margin-top: -47px;
  margin-left: 11px;
}
.streakAndIngredients,
.vegAndIngredients,
.mealAndIngredients {
  margin-left: 11px;
}
.mealAndIngredients {
  margin-top: 14px;
}
.moreDetailsMainContainer {
  width: 204px;
  margin-top: 40px;
  border-radius: 100px;
  padding: 2px;
  background: linear-gradient(to right, #feff02, #596c00);
}
.moreDetailsinnerContainer {
  background-color: white;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  color: #2f2e2e;
  font-weight: 500;
  font-size: 13px;
}
.moreDetailsinnerContainer p {
  margin-bottom: 0px;
}
.monthlyOverview {
  padding-left: 15px;
  height: 569px;
  width: 974px;
  border: 1px solid #909090;
  border-radius: 7px;
  margin-top: 54px;
  margin-bottom: 59px;
}
#monthlyOverviewPara {
  color: #091b35;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  display: flex;
}
.monthlyOverviewDaysWeek {
  padding: 31px;
  display: flex;
  gap: 64rem;
}
.daysWeekMonthContainer {
  display: flex;
  gap: 13px;
}
.selectorBorder {
  border-radius: 100px;
  padding: 2px;
  background: linear-gradient(to right, #feff02, #596c00);
  width: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
}
.selector {
  width: 108px;
  background-color: white;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}
.selector span {
  display: flex;
}
.nav-link {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 1rem;
  font-size: 13px !important;
  font-weight: 500 !important;
}
.nav-link p {
  margin-bottom: 0px;
}
